<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <script>
        function openModal() {
            document.getElementById('addTaskModal').style.display = 'flex';
        }

        function closeModal() {
            document.getElementById('addTaskModal').style.display = 'none';
        }

        window.onclick = function(event) {
            const modal = document.getElementById('addTaskModal');
            if (event.target == modal) {
                closeModal();
            }
            const modal2 = document.getElementById('editTaskModal');
            if (event.target == modal2) {
                modal2.style.display = 'none';
            }
        }
        
        function openEditModal(taskId, title, description, priority, deadline, completed) {
            document.getElementById('taskId').value = taskId;
            document.getElementById('editTitle').value = title;
            document.getElementById('editDescription').value = description;
            document.getElementById('editPriority').value = priority;
            document.getElementById('editDeadline').value = deadline;
            document.getElementById('editCompleted').value = completed;
            document.getElementById('editTaskModal').style.display = 'flex'; // Ouvrir la modale
        }

        function closeEditModal() {
            document.getElementById('editTaskModal').style.display = 'none'; // Fermer la modale
        }

        function editTask(event) {
            event.preventDefault(); // Empêche le rechargement de la page

            // Récupérer les valeurs du formulaire
            const id = document.getElementById("taskId").value;
            const title = document.getElementById("editTitle").value;
            const description = document.getElementById("editDescription").value;
            const priority = document.getElementById("editPriority").value;
            const deadline = document.getElementById("editDeadline").value;
            const completed = (document.getElementById("editCompleted").value === 'True');

            // Envoyer les données à votre backend pour mettre à jour la tâche
            fetch(`/api/modify/${id}`, {
                method: 'POST', // ou POST selon votre API
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    title,
                    description,
                    priority,
                    deadline,
                    completed
                })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error("Error ");
            })
            .then(data => {
                location.reload(); // Recharger la page ou mettre à jour l'élément dans la liste
            })
            .catch(error => {
                console.error('Erreur:', error);
            });
        }

        function addTask(event) {
            event.preventDefault(); // Empêche le rechargement de la page

            // Récupérer les valeurs du formulaire
            const title = document.getElementById('title').value;
            const description = document.getElementById('description').value;
            const priority = document.getElementById('priority').value;
            const deadline = document.getElementById('deadline').value;

            // Envoyer les données à votre backend pour ajouter la tâche
            fetch('/api/add', {
                method: 'POST', // Utiliser POST pour créer une nouvelle tâche
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    title,
                    description,
                    priority,
                    deadline
                })
            })
            .then(response => {
                if (response.ok) {
                    return response.json(); // Convertir la réponse en JSON si tout va bien
                }
                throw new Error("Erreur lors de l'ajout de la tâche.");
            })
            .then(data => {
                console.log('Tâche ajoutée avec succès:', data); // Traiter la réponse ici, par exemple, afficher un message de succès
                closeModal(); // Fermer le modal après la soumission
                location.reload(); // Recharger la page pour voir la nouvelle tâche ajoutée (ou mettre à jour la liste)
            })
            .catch(error => {
                console.error('Erreur:', error); // Gérer les erreurs ici
            });
        }

        window.onload = function() {
            var flashMessage = document.getElementById('flashMessage');
	    
            if (flashMessage.innerHTML.trim() !== "") {
                flashMessage.style.display = 'block'; // Affiche le message flash
                setTimeout(function() {
                    flashMessage.style.opacity = '0'; // Rendre le message transparent
                    setTimeout(function() {
                        flashMessage.style.display = 'none'; // Masquer le message après la transition
                    }, 500); // Correspond à la durée de la transition
                }, 5000); // Attendre 5 secondes avant de commencer à disparaître
            }
        }

        function onOrderByChange(selectedOrder) {
            if (selectedOrder) {
                console.log("Option sélectionnée :", selectedOrder); // Vérification du déclenchement
                window.location.href = `?order_by=${selectedOrder}`;
            }
        }

    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div>
        <h1>TODO LIST</h1>
    </div>
    <div id="flashMessage" class="flash-message" style="display: none;">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% if user %}
        <button class="logout-button" onclick="window.location.href='{{ url_for('auth_logout') }}'">Log Out</button>
        <button class="btn-submit" onclick="openModal()">Add a task</button>
        <div>
            <label for="order_by">Sort by:</label>
            <select id="order_by" name="order_by" onchange="onOrderByChange(this.value)">
                <option value="created_at_asc" {% if request.args.get('order_by') == 'created_at_asc' %}selected{% endif %}>Date Created (Oldest First)</option>
                <option value="created_at_desc" {% if request.args.get('order_by') == 'created_at_desc' %}selected{% endif %}>Date Created (Newest First)</option>
                <option value="priority_asc" {% if request.args.get('order_by') == 'priority_asc' %}selected{% endif %}>Priority (Low to High)</option>
                <option value="priority_desc" {% if request.args.get('order_by') == 'priority_desc' %}selected{% endif %}>Priority (High to Low)</option>
                <option value="deadline_asc" {% if request.args.get('order_by') == 'deadline_asc' %}selected{% endif %}>Deadline (Earliest First)</option>
                <option value="deadline_desc" {% if request.args.get('order_by') == 'deadline_desc' %}selected{% endif %}>Deadline (Latest First)</option>
            </select>
        </div>
        {% if tasks %}
            <div class="ag-format-container">
                {% for task in tasks %}
                    <div class="ag-courses_box">
                        <div class="ag-courses_item">
                            <div class="ag-courses-item_bg"></div>
                            <div class="ag-courses-item_title">{{ task.title }}</div>
                            <div class="ag-courses-item_description">{{ task.description }}</div>

                            {% if task.priority == 'Low' %}
                                <div class="ag-courses-item_priority_low">Priority : {{ task.priority }}</div>
                            {% elif task.priority == 'Medium' %}
                                <div class="ag-courses-item_priority_medium">Priority : {{ task.priority }}</div>
                            {% elif task.priority == 'High' %}
                                <div class="ag-courses-item_priority_high">Priority : {{ task.priority }}</div>
                            {% endif %}

                            {% if task.deadline %} 
                                <div class="ag-courses-item_date-box">
                                    Deadline: <span class="ag-courses-item_date">{{ task.deadline }}</span>
                                </div>
                            {% else %}
                                <div class="ag-courses-item_date-box">
                                    No deadline
                                </div>
                            {% endif %}
                            {% if task.completed %} 
                                <div class="ag-courses-item_date-box">
                                    <img src="{{ url_for('static', filename='images/validation.png') }}" alt="Validated" class="validation-image">
                                </div>
                            {% endif %}
                            <button class="modify-button" onclick="openEditModal('{{ task.id }}', '{{ task.title }}', '{{ task.description }}','{{ task.priority }}','{{ task.deadline }}','{{ task.completed|e }}' )">Edit</button>
                            <form action="{{ url_for('api_delete', task_id=task.id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="delete-button">Delete</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No task found for this user.</p>
        {% endif %}
    {% else %}
        <p>Please log in to access all the functionalities.</p>
        <button class="login-button" onclick="window.location.href='{{ url_for('auth_login') }}'">Log In</button>
    {% endif %}


    <div id="addTaskModal" class="modal">
        <div class="modal-content">
            <span onclick="closeModal()" class="close-button">&times;</span>
            <h2>Add a task</h2>
            <form id="addTaskForm" onsubmit="addTask(event)" method="POST">
                <label for="title">Title :</label>
                <input type="text" id="title" name="title" required>
                <br><br>

                <label for="description">Description :</label>
                <textarea id="description" name="description" rows="4" required></textarea>
                <br><br>

                <label for="deadline">Deadline :</label>
                <input type="date" id="deadline" name="deadline">
                <br><br>

                <label for="priority">Priority :</label>
                <select id="priority" name="priority" required>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <br><br>

                <button type="submit" class="btn-submit">Add Task</button>
            </form>
        </div>
    </div>

    
    <div id="editTaskModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeEditModal()">&times;</span>
            <h2>Edit Task</h2>
            <form id="editTaskForm" onsubmit="editTask(event)" method="POST">
                <input type="hidden" id="taskId" name="task_id">
                <label for="title">Title: </label>
                <input type="text" id="editTitle" name="title" required>
    
                <label for="description">Description:</label>
                <textarea id="editDescription" name="description" required></textarea>

                <label for="deadline">Deadline :</label>
                <input type="date" id="editDeadline" name="deadline">
                <br><br>

                <label for="priority">Priority :</label>
                <select id="editPriority" name="priority" required>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <br><br>

                <label for="completed">Completed :</label>
                <select id="editCompleted" name="completed">
                    <option value='False'>False</option>
                    <option value='True'>True</option>
                </select>
                <br><br>
    
                <button type="submit" class="btn-submit">Update Task</button>
            </form>
        </div>
    </div>
    

    
</body>
</html>
